/* Colors */
$blue-deepskyblue: #1FB6ED;

/* Fonts */
@font-face {
  font-family: "Antonio";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/antonio-regular-webfont.eot");
  src: url("../fonts/antonio-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/antonio-regular-webfont.woff") format("woff"), url("../fonts/antonio-regular-webfont.ttf") format("truetype"), url("../fonts/antonio-regular-webfont.svg#Antonio") format("svg");
}
@font-face {
  font-family: "Antonio";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/antonio-bold-webfont.eot");
  src: url("../fonts/antonio-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/antonio-bold-webfont.woff") format("woff"), url("../fonts/antonio-bold-webfont.ttf") format("truetype"), url("../fonts/antonio-bold-webfont.svg#Antonio") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#Open Sans") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#Open Sans") format("svg");
}
/* Mixins */
/* Functions */
/* Fonts */
/**** DESIGN ****/
/* line 42, ../../sass/theme/hstry.scss */
body {
  background-color: #ffffff;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

.reveal strong {
  font-weight: bold;
}

/* line 50, ../../sass/theme/hstry.scss */
.reveal h1 {
  font-family: "Antonio", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 6rem;
  color: $blue-deepskyblue;
}
/* line 37, ../../sass/theme/hstry.scss */
.no-cssremunit .reveal h1 {
  font-size: 60px;
}
/* line 56, ../../sass/theme/hstry.scss */
.reveal h2 {
  font-size: 4rem;
  line-height: 1.4em;
}
/* line 37, ../../sass/theme/hstry.scss */
.no-cssremunit .reveal h2 {
  font-size: 40px;
}
/* line 61, ../../sass/theme/hstry.scss */
.reveal h3 {
  font-size: 2.5rem;
  line-height: 1.4em;
}
/* line 37, ../../sass/theme/hstry.scss */
.no-cssremunit .reveal h3 {
  font-size: 25px;
}

/* line 67, ../../sass/theme/hstry.scss */
.slides {
  /* Highlight.js overrides */
}
/* line 69, ../../sass/theme/hstry.scss */
.slides .hljs-keyword,
.slides .css .rule .hljs-keyword,
.slides .hljs-winutils,
.slides .javascript .hljs-title,
.slides .nginx .hljs-title,
.slides .hljs-subst,
.slides .hljs-request,
.slides .hljs-status {
  font-weight: bold;
}
/* line 79, ../../sass/theme/hstry.scss */
.slides .hljs-title,
.slides .hljs-id,
.slides .coffeescript .hljs-params,
.slides .scss .hljs-preprocessor {
  font-weight: bold;
}
/* line 85, ../../sass/theme/hstry.scss */
.slides .hljs-class .hljs-title,
.slides .haskell .hljs-type,
.slides .vhdl .hljs-literal,
.slides .tex .hljs-command {
  font-weight: bold;
}
/* line 91, ../../sass/theme/hstry.scss */
.slides .hljs-preprocessor,
.slides .hljs-pragma,
.slides .hljs-pi,
.slides .hljs-doctype,
.slides .hljs-shebang,
.slides .hljs-cdata {
  font-weight: bold;
}
/* line 99, ../../sass/theme/hstry.scss */
.slides .hljs-comment,
.slides .hljs-template_comment,
.slides .diff .hljs-header,
.slides .hljs-javadoc {
  font-style: italic;
}
/* line 106, ../../sass/theme/hstry.scss */
.slides a {
  color: $blue-deepskyblue;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 110, ../../sass/theme/hstry.scss */
.slides a:hover {
  color: #1098c9;
}
/* line 114, ../../sass/theme/hstry.scss */
.slides p {
  margin: 30px 0;
}
/* line 117, ../../sass/theme/hstry.scss */
.slides h1, .slides h2, .slides h3 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* line 120, ../../sass/theme/hstry.scss */
.slides h1 {
  margin: 0 0 40px 0;
  line-height: 1.2em;
}
/* line 124, ../../sass/theme/hstry.scss */
.slides h2 {
  margin: 20px 0;
}
/* line 125, ../../sass/theme/hstry.scss */
.slides h3 {
  margin: 30px 0;
}
/* line 126, ../../sass/theme/hstry.scss */
.slides ul, .slides ul ul {
  margin: 0;
}
/* line 130, ../../sass/theme/hstry.scss */
.slides li {
  margin: 20px 0;
  padding-left: 20px;
  font-size: 2rem;
  line-height: 1.3;
  position: relative;
}
/* line 37, ../../sass/theme/hstry.scss */
.no-cssremunit .slides li {
  font-size: 20px;
}
/* line 136, ../../sass/theme/hstry.scss */
// .slides li:before {
//   position: absolute;
//   left: 0;
//   top: 0.5em;
//   content: '';
//   display: block;
//   height: 0.35em;
//   width: 0.35em;
//   background-color: $blue-deepskyblue;
//   border-radius: 50%;
// }
/* line 147, ../../sass/theme/hstry.scss */
.slides .hstry-logo {
  margin: 40px 0;
  width: 20%;
}
/* line 151, ../../sass/theme/hstry.scss */
.slides .hstry {
  font-family: "Antonio", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
/* line 37, ../../sass/theme/hstry.scss */
.no-cssremunit .slides .hstry {
  font-size: 50px;
}
/* line 161, ../../sass/theme/hstry.scss */
.slides .intro h2 {
  margin: 30px 0 80px 0;
}
/* line 162, ../../sass/theme/hstry.scss */
.slides .intro img {
  display: block;
  margin: 40px auto;
}
/* line 166, ../../sass/theme/hstry.scss */
.slides .intro time {
  font-size: 1.5rem;
}
/* line 37, ../../sass/theme/hstry.scss */
.no-cssremunit .slides .intro time {
  font-size: 15px;
}
/* line 171, ../../sass/theme/hstry.scss */
.slides code:not(.hljs) {
  color: #999;
}
/* line 176, ../../sass/theme/hstry.scss */
.slides .architecture .column {
  width: 25%;
  float: left;
}
/* line 15, ../../sass/bourbon/addons/_clearfix.scss */
.slides .architecture .column:after {
  content: "";
  display: table;
  clear: both;
}
/* line 180, ../../sass/theme/hstry.scss */
.slides .architecture .column.description {
  width: 50%;
}
/* line 182, ../../sass/theme/hstry.scss */
.slides .architecture .box {
  background-color: #ffffff;
  width: 80%;
  margin: 20px auto;
  color: #666;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #1098c9;
  opacity: 0.3;
}
/* line 191, ../../sass/theme/hstry.scss */
.slides .architecture .box:first-child {
  margin-top: 0;
}
/* line 193, ../../sass/theme/hstry.scss */
.slides .architecture .description {
  text-align: left;
}
/* line 196, ../../sass/theme/hstry.scss */
.slides .architecture .router {
  margin-top: 100px;
}
/* line 197, ../../sass/theme/hstry.scss */
.slides .architecture.all .box {
  opacity: 1;
}
/* line 198, ../../sass/theme/hstry.scss */
.slides .architecture.template .box.template {
  opacity: 1;
}
/* line 199, ../../sass/theme/hstry.scss */
.slides .architecture.model .box.model {
  opacity: 1;
}
/* line 200, ../../sass/theme/hstry.scss */
.slides .architecture.controller .box.controller {
  opacity: 1;
}
/* line 201, ../../sass/theme/hstry.scss */
.slides .architecture.view .box.view {
  opacity: 1;
}
/* line 202, ../../sass/theme/hstry.scss */
.slides .architecture.router .box.router {
  opacity: 1;
}
/* line 204, ../../sass/theme/hstry.scss */
.slides pre {
  width: auto;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
/* line 212, ../../sass/theme/hstry.scss */
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: $blue-deepskyblue;
}

/* line 215, ../../sass/theme/hstry.scss */
.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: $blue-deepskyblue;
}

/* line 218, ../../sass/theme/hstry.scss */
.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: $blue-deepskyblue;
}

/* line 221, ../../sass/theme/hstry.scss */
.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: $blue-deepskyblue;
}

/* line 224, ../../sass/theme/hstry.scss */
.reveal .controls div.enabled {
  opacity: 0.5;
}
/* line 226, ../../sass/theme/hstry.scss */
.reveal .controls div.enabled:hover {
  opacity: 1;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
/* line 245, ../../sass/theme/hstry.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.1);
}
/* line 247, ../../sass/theme/hstry.scss */
.reveal .progress span {
  background: #4ec5f1;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


/*********************************************
 * CUSTOM
 *********************************************/
.logo-hstry {
  max-width: 25%;
}

.logo-ember {
  max-width: 25%;
}

.logo-emberjs-chile {
  max-width: 300px;
}
